#map{
    height: 70vh;
    width: 200vh;
    margin: auto;
    margin-top: 1%;
    border: 2px;
    border-style: double;

}

.con{
    margin-top: 2%;
    position: center;
    margin-left: 36%;
}

input[type=text] {
    width: 35%;
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: center;
  }

  /*.button {
      width: 10%;
      color: rgb(0, 0, 0);
      border: 1px solid slateblue;
      height: 37px;
      margin-left: 2%;
  }*/

  .button {
    position: relative;
    background-color: #04AA6D;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 2px;
    width: 14%;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    margin-left: 5%;
  }
  
  .button:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }

  /*Off*/

  .button1 {
    position: relative;
    background-color: #fd0000;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 2px;
    width: 14%;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    margin-top: 0.8%;
    text-align: center;
    margin-left: 10%;
  }
  
  .button1:after {
    content: "";
    background: #f03c3c;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .button1:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }



