<input type="text" class="Search" placeholder="Search..." [(ngModel)]="filterTerm" />
<button class = "b" (click)="goToPart('pending')">Pending</button>
<button class = "c" (click)="goToPart('tracked')">Tracked</button>
<div id="map1" class="map"></div>

<div class="container">
    <div>
        <div>
            <div>
                <div>
                    <div>
                        <div>
                            <div>
                                
                            </div>
                           <section id = "pending">
                            <table id="users">
                                <thead> 
                                    <th scope = "col" colspan="6" class="p">Pending</th>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Email Address</th>
                                        <th scope="col">Location</th>
                                        <th scope="col">TimeLog</th>
                                        <th scope="col"></th>

                                    </tr>

                                </thead>
                                <tbody>
                                    <tr *ngFor="let loc of Location| filter: filterTerm; let i = index">
                                        <th scope="row">{{i + 1}}</th>
                                        <td>{{ loc.Name }}</td>
                                        <td>{{ loc.Email_Lower }}</td>
                                        <td>Lat:{{ loc.Latitude}}, Long:{{ loc.Longitude}} </td>
                                        <td>{{ loc.TimeLog.toDate() }}</td>
                                        <td>
                                            <button class="button1" (click)="save(loc.Email_Lower)">Confirm</button>
                                        </td>
                            </table>
                            </section>
                            <br>
                            <br>
                            <section id = "tracked">
                            <table id="users">
                                <thead>
                                    <th scope = "col" colspan="6" class="p">Tracked</th>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Email Address</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">TimeLog</th>
                                    </tr>

                                </thead>
                                <tbody>
                                    <tr *ngFor="let con of Confirmed| filter: filterTerm; let i = index">
                                        <th scope="row">{{i + 1}}</th>
                                        <td>{{ con.Name }}</td>
                                        <td>{{ con.Email_Lower }}</td>
                                        <td>{{ con.Status}}</td>
                                        <td>{{ con.TimeLog.toDate() }}</td>
                            </table>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>