.map {
    height: 85vh;
    width: 200vh;
    margin: auto;
    margin-top: 1%;
    border: 2px;
    border-style: double;
}

.cen1{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}
.cen{
    
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}
mat-card{
    height: 35%;
    margin-top: 11%;
    margin-left: 5%;
    margin-right: 5%;
}

.isize{
    height:60px;
    width: 70px;
    padding-left: 49%;
    padding-top: 1%;
    margin-top: -10%;
    margin-bottom: -2%;

}


  #users1 {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 85%;
    background-color: rgb(218, 243, 255);
    margin-left: 8%;
    
  }
  
  #users1 td, #users1 th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #users1 tr:nth-child(even){background-color: #f4f1fd;}
  
  #users1 tr:hover {background-color: #ddd;}
  
  #users1 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
  }

  #users {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 85%;
    background-color: rgb(218, 243, 255);
    margin-left: 8%;
    
  }
  
  #users td, #users th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #users tr:nth-child(even){background-color: #f4f1fd;}
  
  #users tr:hover {background-color: #ddd;}
  
  #users th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
  }


  .Search {
    width: 35%;
    font-size: 18px;
    padding: 11px;
    border: 1px solid rgba(255, 252, 252, 0.575);
    height: 30%;
    margin-left: 35%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: rgb(206, 211, 211);
  }

  .button1 {
    transition-duration: 0.4s;
    padding: 10px 24px;
    border-radius: 4px;
    font-size: 15px;
    margin-left: 10%;
    
  }
  
  .button1:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }
  
  