<div fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card class = "container">
    <mat-card-title class ="tt">Sign Up</mat-card-title>
    <form [formGroup]="signupForm" (ngSubmit)="signup()">
      <p>Surname: </p>
      <input type="text" formControlName="Surname" class="form-control">
      <small *ngIf="signupForm.get('Surname').invalid && signupForm.get('Surname').touched" class="text-danger">*Surname
        is Required</small>
      <br>
      <p>First Name: </p>
      <input type="text" formControlName="First_Name" class="form-control">
      <small *ngIf="signupForm.get('First_Name').invalid && signupForm.get('First_Name').touched"
        class="text-danger">*First name is Required</small>
      <br>
      <p>Middle Name: </p>
      <input type="text" formControlName="Middle_Name" class="form-control">
      <small *ngIf="signupForm.get('Middle_Name').invalid && signupForm.get('Middle_Name').touched"
        class="text-danger">*Middlename is Required</small>
      <br>
      <p>Suffix </p>
      <input type="text" formControlName="Suffix" class="form-control" placeholder="I, II, III...">
      <br>
      <p>Age: </p>
      <input type="number" formControlName="Age" class="form-control">
      <small *ngIf="signupForm.get('Age').invalid && signupForm.get('Age').touched" class="text-danger">*Age is
        Required</small>
      <br>
      <p>Date of Birth:</p>
      <input type="text" formControlName="Birthday" class="form-control" placeholder="MM/DD/YYYY">
      <small *ngIf="signupForm.get('Birthday').invalid && signupForm.get('Birthday').touched" class="text-danger">*Date
        of birth is Required</small>
      <br>
      <p>Birthplace: </p>
      <input type="text" formControlName="Birthplace" class="form-control">
      <small *ngIf="signupForm.get('Birthplace').invalid && signupForm.get('Birthplace').touched"
        class="text-danger">*Birthplace is Required</small>
      <br>
      <p>Address: </p>
      <input type="text" formControlName="Address" class="form-control">
      <small *ngIf="signupForm.get('Address').invalid && signupForm.get('Address').touched" class="text-danger">*Address
        is Required</small>
      <br>
      <p>Mobile No.: </p>
      <input type="number" formControlName="Contact_Number" class="form-control">
      <small *ngIf="signupForm.get('Contact_Number').invalid && signupForm.get('Contact_Number').touched"
        class="text-danger">*Mobile number is Required</small>
      <br>
      <p>Religion </p>
      <input type="text" formControlName="Religion" class="form-control">
      <small *ngIf="signupForm.get('Religion').invalid && signupForm.get('Religion').touched"
        class="text-danger">*Religion is Required</small>
      <br>
      <p>Sex: </p>
      <select name="type" formControlName="Sex" class="form-control" class="sel">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
      </select>
      
      <small *ngIf="signupForm.get('Sex').invalid && signupForm.get('Sex').touched" class="text-danger">*Sex is
        Required</small>

      
      <p>Civil Status: </p>
      <select name="type" formControlName="Civil_Status" class="form-control" class="sel">
        <option value="Single">Single</option>
        <option value="Separated">Separated</option>
        <option value="Cohabitation">Cohabitation</option>
        <option value="Married">Married</option>
        <option value="Widow/er">Widow/Widower</option>
      </select>
      
      <small *ngIf="signupForm.get('Civil_Status').invalid && signupForm.get('Civil_Status').touched"
        class="text-danger">*Civil Status is Required</small>
      
      <p>Type of Disability: </p>
      <select name="type" formControlName="Type_of_Disability" class="form-control" class="sel">
        <option value="Deaf or Hard of Hearing">Deaf or Hard of Hearing</option>
        <option value="Intellectual Disability">Intellectual Disability</option>
        <option value="Learning Disability">Learning Disability</option>
        <option value="Mental Disability">Mental Disability</option>
        <option value="Orthopedic Disability">Orthopedic Disability</option>
        <option value="Physical Disability">Physical Disability</option>
        <option value="Psychosocial Disability">Psychosocial Disability</option>
        <option value="Speech and Language Impairment">Speech and Language Impairment</option>
        <option value="Visual Disability">Visual Disability</option>
      </select>
      
      <small *ngIf="signupForm.get('Type_of_Disability').invalid && signupForm.get('Type_of_Disability').touched"
        class="text-danger">*Type of Disability is Required</small>
    
      <p>Cause of Disability</p>
      <select name="type" formControlName="Cause_of_Disability" id="Cause_of_Disability" class="form-control"
        class="sel">
        <option value=" "></option>
        <option value="Acquired">Acquired</option>
        <option value="Cancer">Cancer</option>
        <option value="Chronic Illness">Chronic Illness</option>
        <option value="Congenital/Inborn">Congenital/Inborn</option>
        <option value="Injury">Injury</option>
        <option value="Rare Disease">Rare Disease</option>
        <option value="Autism">Autism</option>
      </select>
      
      <small *ngIf="signupForm.get('Cause_of_Disability').invalid && signupForm.get('Cause_of_Disability').touched"
        class="text-danger">*Cause of Disability is Required</small>
      
      <p>Email Address: </p>
      <input type="text" formControlName="email" class="form-control">
      <small *ngIf="signupForm.get('email').invalid && signupForm.get('email').touched" class="text-danger">*Valid Email
        Address is Required</small>
      
      <p>Password: </p>
      <input type="password" formControlName="password" class="form-control">
      <small *ngIf="signupForm.get('password').invalid && signupForm.get('password').touched" class="text-danger">*Valid
        Password is Required</small>

      
      <div class = "container2">
            <div>
      <button mat-raised-button class="buton1" type="submit" [disabled]="!signupForm.valid" class = "child">Register</button>
      <button mat-raised-button color="warn" type="reset" class="child2">Reset</button>

      <p class = "fp"><a routerLink="/login" routerLinkActive="active">Already Have an Account? Click Here to Login</a></p>
            </div>
      </div>

      <br>
    </form>
  </mat-card>
</div>
