<div fxLayout="row wrap" fxLayoutAlign="center center">
<mat-card class = "container">
    <mat-card-title class ="tt">Sign Up</mat-card-title>
    <form [formGroup]="AdminsignupForm" (ngSubmit)="signup()">
      
        <p>Municipality</p>
        <select name="type" formControlName="Municipality" id="Municipality" class="form-control"
          class="sel">
          <option value="Alfonso">Alfonso</option>
          <option value="Amadeo">Amadeo</option>
          <option value="Bacoor City">Bacoor City</option>
          <option value="Carmona">Carmona</option>
          <option value="Cavite City">Cavite City</option>
          <option value="Dasmariñas City">Dasmariñas City</option>
          <option value="General Emilio Aguinaldo">General Emilio Aguinaldo</option>
          <option value="General Mariano Alvarez">General Mariano Alvarez</option>
          <option value="General Trias">General Trias</option>
          <option value="Imus">Imus</option>
          <option value="Indang">Indang</option>
          <option value="Kawit">Kawit</option>
          <option value="Magallanes">Magallanes</option>
          <option value="Maragondon">Maragondon</option>
          <option value="Mendez">Mendez</option>
          <option value="Naic">Naic</option>
          <option value="Noveleta">Noveleta</option>
          <option value="Rosario">Rosario</option>
          <option value="Silang">Silang</option>
          <option value="Tagaytay">Tagaytay</option>
          <option value="Tanza">Tanza</option>
          <option value="Ternate">Ternate</option>
          <option value="Trece Martires City">Trece Martires City</option>
        </select>
        <small *ngIf="AdminsignupForm.get('Municipality').invalid && AdminsignupForm.get('Municipality').touched"
          class="text-danger">*Municipality is Required</small>
          <br>
      <p>Office: </p>
      <input type="text" formControlName="Office" class="form-control">
      <small *ngIf="AdminsignupForm.get('Office').invalid && AdminsignupForm.get('Office').touched" class="text-danger">*Office
        is Required</small>
      <br>
      <p>Name: </p>
      <input type="text" formControlName="Name" class="form-control">
      <small *ngIf="AdminsignupForm.get('Name').invalid && AdminsignupForm.get('Name').touched"
        class="text-danger">*Name is Required</small>
      <br>
      <p>Email Address: </p>
      <input type="text" formControlName="email" class="form-control">
      <small *ngIf="AdminsignupForm.get('email').invalid && AdminsignupForm.get('email').touched" class="text-danger">*Valid Email
        Address is Required</small>
      <br>
      <p>Password: </p>
      <input type="password" formControlName="password" class="form-control">
      <small *ngIf="AdminsignupForm.get('password').invalid && AdminsignupForm.get('password').touched" class="text-danger">*Valid
        Password is Required</small>
      <div class = "container2">
            <div>
      <button mat-raised-button class="buton1" type="submit" [disabled]="!AdminsignupForm.valid" class = "child">Register</button>
      <button mat-raised-button color="warn" type="reset" class="child2">Reset</button>
            </div>
      </div>

      <br>
    </form>
  </mat-card>
  </div>
