<table id = "users" >
    <thead>
        <tr>
            <th scope = "col">#</th>
            <th scope = "col">Surname</th>
            <th scope = "col">First Name</th>
            <th scope = "col">Middle Name</th>
            <th scope = "col">Suffix</th>
            <th scope = "col">Age</th>
            <th scope = "col">Birthday</th>
            <th scope = "col">Address</th>
            <th scope = "col">Contact Number</th>
            <th scope = "col">Sex</th>
            <th scope = "col">Civil Status</th>
            <th scope = "col">Type of Disability</th>
            <th scope = "col">Email Address</th>
        </tr>
    </thead>
<tbody>
    <tr *ngFor = "let users of User; let i = index">
        <th scope = "row">{{i + 1}}</th>
        <td>{{ users.Surname }}</td>
        <td>{{ users.First_Name }}</td>
        <td>{{ users.Middle_Name }}</td>
        <td>{{ users.Suffix }}</td>
        <td>{{ users.Age }}</td>
        <td>{{ users.Birthday }}</td>
        <td>{{ users.Address }}</td>
        <td>{{ users.Contact_Number }}</td>
        <td>{{ users.Sex }}</td>
        <td>{{ users.Civil_Status }}</td>
        <td>{{ users.Type_of_Disability }}</td>
        <td>{{ users.Email_Lower }}</td>  
</table>
