<div *ngIf="(user | async)?.accountType == 'Admin'; else notAdmin">

 <table id = "users" >
    <thead>
        <tr>
            <th scope = "col">#</th>
            <th scope = "col">Surname</th>
            <th scope = "col">First Name</th>
            <th scope = "col">Middle Name</th>
            <th scope = "col">Suffix</th>
            <th scope = "col">Age</th>
            <th scope = "col">Birthday</th>
            <th scope = "col">Birthplace</th>
            <th scope = "col">Address</th>
            <th scope = "col">Contact Number</th>
            <th scope = "col">Religion</th>
            <th scope = "col">Sex</th>
            <th scope = "col">Civil Status</th>
            <th scope = "col">Type of Disability</th>
            <th scope = "col">Cause of Disability</th>
            <th scope = "col">Email Address</th>
            <th scope = "col"></th>
        </tr>
    </thead>
<tbody>
    <tr *ngFor = "let users of User; let i = index">
        <th scope = "row">{{i + 1}}</th>
        <td>{{ users.Surname }}</td>
        <td>{{ users.First_Name }}</td>
        <td>{{ users.Middle_Name }}</td>
        <td>{{ users.Suffix }}</td>
        <td>{{ users.Age }}</td>
        <td>{{ users.Birthday }}</td>
        <td>{{ users.Birthplace }}</td>
        <td>{{ users.Address }}</td>
        <td>{{ users.Contact_Number }}</td>
        <td>{{ users.Religion }}</td>
        <td>{{ users.Sex }}</td>
        <td>{{ users.Civil_Status }}</td>
        <td>{{ users.Type_of_Disability }}</td>
        <td>{{ users.Cause_of_Disability }}</td>
        <td>{{ users.Email_Lower }}</td>
        <td>
            <button (click) = "del(users.Email_Lower)">Delete</button>
           
        </td>      
</table>

</div>
<ng-template #notAdmin>
    <mat-card class = "c1">
     <img mat-card-image src="../../assets/warning.png" alt="mailSent" class ="isize">
     <br><br>
        <br><br>
   <p class = "cen">  Sorry!</p><br><br>
     <p class = "cen1">   You Don't Have Authorization to Access this Page!</p>
   </mat-card>
 </ng-template>