<div class = "container">
<div class="card">
    <mat-card>
<mat-list *ngIf="( user | async)">
    <br>
    <p class = "p2">Welcome {{ (user | async)?.First_Name.toUpperCase()}}!</p>
    <br>
    <mat-divider></mat-divider>
    <mat-list-item>Name: {{ (user | async)?.Surname}}, {{ (user | async)?.First_Name}} {{ (user | async)?.Middle_Name}} {{ (user | async)?.Suffix}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Age: {{ (user | async)?.Age }}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Birthday: {{ (user | async)?.Birthday }}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Birthplace: {{ (user | async)?.Birthplace }}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Address: {{ (user | async)?.Address }}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Contact Number: {{ (user | async)?.Contact_Number }}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Sex: {{ (user| async)?.Sex }}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Civil Status: {{ (user | async)?.Civil_Status }}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Disability: {{ (user | async)?.Type_of_Disability }}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Email Address: {{ (user | async)?.email }}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Email Verification Status: {{ (afAuth.user | async)?.emailVerified }}</mat-list-item>
    <mat-divider></mat-divider>
    <br>
    <p class ="p1" routerLink="/verify-email">Not Verified Yet? Click Here to Verify Your Account!</p>
    <mat-divider></mat-divider>
        <br>
</mat-list>
</mat-card>
</div>
<br>
<br>
