mat-card{
    image-resolution: 1040px;
    height:90%;
    width: 97.5%;
}

.banner{
    background-image: url('../../assets/9.png');
    height: 593px;
    width: 1355x;
    background-position: 2%;
    background-size: cover;
   
}

.space{
    padding: 0.5px;
}


@media screen and (max-width:600px) {
    .banner{
        background-image: url('../../assets/9.png');
        width: 600px;
        height: 210px;
        background-size: cover;
  
    }
}